# Ignore jsonl files

# But keep files in content/ folder
!data/
!data/**
!babyvision_gen_eval/generated/nanobanana-pro/round1/
!babyvision_gen_eval/generated/nanobanana-pro/round1/**

# remove all claude cache files in all folders
**/.claude/

# remove all __pycache__ folders in all folders
**/__pycache__/

/data/babyvision_data
/data/babyvision_gen_data

.env

local_ollama